:root {
    --dark: #1c2763;
    --light: #c3e4fa;
}

header {
    
    background-color: var(--dark);
}

body {

    background-color: rgb(235, 241, 250);
    /* background-image: url(/assets/images/sky2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    

}

h2 {
    color: black;
    text-align: center;
}

.btn {
    color: white;
    background-color: var(--dark);
}

.cards{

    background-color: var(--light);
}

